@Layout = null;

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <div class="text-center">
        <input id="input1" value="initial"></input>
        <input id="input2" value="initial"></input>
    </div>


    <script src="~/dist/js/ClientSrc_Scripts_myCommon_ts.js" asp-append-version="true"></script>

    <script src="~/dist/js/foo.js" asp-append-version="true"></script>
    @*<script src="~/dist/js/vendor.js" asp-append-version="true"></script>*@

</body>
</html>

